# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
app/frontend/libs
app/static/fonts/bootstrap
app/static/scripts/vendor
app/static/styles/vendor
app/static/styles/bootstrap

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### Node ###
# Logs
logs
*.log
npm-debug.log*


